-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: pathogen_genome_db
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `function_annotations`
--

DROP TABLE IF EXISTS `function_annotations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `function_annotations` (
  `annotation_id` int NOT NULL AUTO_INCREMENT,
  `gene_id` int NOT NULL,
  `ontology_type` varchar(255) DEFAULT NULL,
  `annotation_details` text,
  PRIMARY KEY (`annotation_id`),
  KEY `gene_id` (`gene_id`),
  CONSTRAINT `function_annotations_ibfk_1` FOREIGN KEY (`gene_id`) REFERENCES `genes` (`gene_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `function_annotations`
--

LOCK TABLES `function_annotations` WRITE;
/*!40000 ALTER TABLE `function_annotations` DISABLE KEYS */;
/*!40000 ALTER TABLE `function_annotations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `genes`
--

DROP TABLE IF EXISTS `genes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `genes` (
  `gene_id` int NOT NULL AUTO_INCREMENT,
  `species_id` int NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `sequence` text,
  `function_annotation` text,
  `gene_type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`gene_id`),
  KEY `species_id` (`species_id`),
  CONSTRAINT `genes_ibfk_1` FOREIGN KEY (`species_id`) REFERENCES `species` (`species_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2589 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genes`
--

LOCK TABLES `genes` WRITE;
/*!40000 ALTER TABLE `genes` DISABLE KEYS */;
/*!40000 ALTER TABLE `genes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `markergenes`
--

DROP TABLE IF EXISTS `markergenes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `markergenes` (
  `markergen_id` int NOT NULL AUTO_INCREMENT,
  `gene_id` int NOT NULL,
  `marker_type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`markergen_id`),
  KEY `gene_id` (`gene_id`),
  CONSTRAINT `markergenes_ibfk_1` FOREIGN KEY (`gene_id`) REFERENCES `genes` (`gene_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `markergenes`
--

LOCK TABLES `markergenes` WRITE;
/*!40000 ALTER TABLE `markergenes` DISABLE KEYS */;
/*!40000 ALTER TABLE `markergenes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phylogenetic_trees`
--

DROP TABLE IF EXISTS `phylogenetic_trees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phylogenetic_trees` (
  `tree_id` int NOT NULL AUTO_INCREMENT,
  `tree_data` text,
  `species_list` text,
  PRIMARY KEY (`tree_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phylogenetic_trees`
--

LOCK TABLES `phylogenetic_trees` WRITE;
/*!40000 ALTER TABLE `phylogenetic_trees` DISABLE KEYS */;
/*!40000 ALTER TABLE `phylogenetic_trees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `species`
--

DROP TABLE IF EXISTS `species`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `species` (
  `species_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `taxonomy` varchar(255) DEFAULT NULL,
  `genome_data_url` text,
  PRIMARY KEY (`species_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `species`
--

LOCK TABLES `species` WRITE;
/*!40000 ALTER TABLE `species` DISABLE KEYS */;
INSERT INTO `species` VALUES (1,'human','Homo sapiens',NULL);
/*!40000 ALTER TABLE `species` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-01-15 18:33:43
